.vs/*
/.vscode
/scripts
docs/reference/
src/**/bin/
src/**/obj/
/tests/**/bin/
/tests/**/obj/
*.dll
/tests/**/TestResults/
*.db-shm
*.db-wal
/artifacts
/samples/mvp/storage/audit.log
/samples/mvp/storage/audit.log
